<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.js') }}"></script>
    <title>{% block title %}snippets{% endblock %}</title>
</head>

<body>
  <h1><a class="light" style="color: #2398C9" href="/">snippets</a></h1>
  {% block body %}
  {% endblock %}
</body>
</html>
