{% extends "base.html" %}

{% block body %}

    <div class="col-md-6 col-md-push-3">
        <div class="row">
            <h2><a href="{{ url_for('user_snippets', email=current_user.email) }}">{{ current_user.username }}</a></h2>
            <!-- TODO: figure out what we want to use user.enabled for here or if we should just remove it entirely
            currently
            {% if current_user.enabled %}
                enabled (<a class="light" href="?setenabled=0">disable</a>)
            {% else %}
                disabled (<a class="light" href="?setenabled=1">enable</a>)
            {% endif %}
            -->
            <form id="my-snippet-form" action="/snippets" method="post">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="my-snippet-addon">what's up?</span>
                        <textarea class="form-control" name="snippet" type="text" placeholder="What's up?"
                                  aria-describedby="my-tags-addon"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Snippet</button>
                </div>
            </form>
        </div>

        <div class="row">
            <h3>Most Recent Updates</h3>
            {% for snippet in snippets %}
                <!-- TODO: use url_for -->
                <a href="/snippets/{{ snippet.id }}">
                    <h4>{{ snippet.text|truncate(140) }}</h4>
                </a>
                <p>Posted by {{ snippet.user.username }} ({{ snippet.date|timesince }})</p>
            {% else %}
                <p>No updates... Yet!</p>
            {% endfor %}
        </div>

    </div>

    <div class="col-md-3 col-md-pull-6 col-sm-6">
        <div class="row">

        <h3>Users</h3>
        {% for user, following in all_users %}
            <a href="{{ url_for('user_snippets', email=user.email) }}">{{ user.username }}</a>
            {% if following %}
                <!-- TODO: use url_for -->
                ✓ <a class="btn btn-default" role="button"
                     href="/unfollow?user={{ user.email }}&continue=/">unfollow</a>
            {% else %}
                <!-- TODO: use url_for -->
                <a class="btn btn-default" role="button"
                   href="/follow?user={{ user.email }}&continue=/">follow</a>
            {% endif %}
            <br/>
        {% endfor %}
        </div>

        <div class="row">
            <h3>Digest</h3>
            Preview your <a href="{{ url_for('get_digest') }}">digest</a>
        </div>

        <div class="row">
            <h3>Email</h3>
            send your snippets to snippets@snippetless.appspotmail.com daily!
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <h3>Tags</h3>
        <form id="my-tag-form" class="form-inline" action="/" method="get">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="my-tags-addon">my tags</span>
                        <input class="tokenfield form-control" name="tags" type="text" placeholder="Enter comma separator tags here"
                               aria-describedby="my-tags-addon"
                               value="{{ current_user.tags and current_user.tags|join(",") or '' }}"/>
                    </div>
                    <button type="submit" class="btn btn-default">Save Tags</button>
                </div>
            </form>
        {% for tag, following in all_tags %}
            <!-- TODO: use url_for -->
            <a href="/tag/{{ tag }}">{{ tag }}</a>
            {% if following %}
                ✓ <a class="btn btn-default" role="button"
                     href="/unfollow?tag={{ tag }}&continue=/">unfollow</a>
            {% else %}
                <a class="btn btn-default" role="button"
                   href="/follow?tag={{ tag }}&continue=/">follow</a>
            {% endif %}
            <br/>
        {% endfor %}
    </div>

    <script>
    $(document).ready(function() {
        var form = $("#my-tag-form");
        var tokenfields = $(".tokenfield");
        /* tokenfields.on('tokenfield:initialize', function(e) {
                    tokenfields.on('tokenfield:createdtoken', function(e) {
                        form.submit();
                    }).on('tokenfield:removedtoken', function(e) {
                        form.submit();
                    })
                })
                .tokenfield();*/
        tokenfields.tokenfield();
    })
    </script>
{% endblock %}
