{% extends "base.html" %}

{% block body %}

<table><tr><td>
    <h2><a href="/user/{{ current_user.email }}">{{ current_user.pretty_name }}</a></h2>
    </td><td><div style="width: 30px"></div></td><td style="font-size: 83%">
    currently
    {% if current_user.enabled %}
      enabled (<a class="light" href="?setenabled=0">disable</a>)
    {% else %}
      disabled (<a class="light" href="?setenabled=1">enable</a>)
    {% endif %}
    <form action="/" method="get">

    my tags <input name="tags" type="text" placeholder="Enter comma separator tags here" value="{{ current_user.tags and current_user.tags|join(",") or '' }}"/></form>

    </td></tr></table>
    <br/>

    send your snippets to snippets@snippetless.appspotmail.com daily!
    <br/><br/>
    <table cellspacing=20>
      <tr>
        <td valign="top">
			    <h3>Users</h3>
			    {% for user, following in all_users %}
			      <a href="/user/{{ user.email }}">{{ user.username }}</a>
			      {% if following %}
			        ✓ <a class="light" href="/unfollow?user={{ user.email }}&continue=/">unfollow</a>
			      {% else %}
			        <a class="light" href="/follow?user={{ user.email }}&continue=/">follow</a>
			      {% endif %}
			      <br/>
			    {% endfor %}
		     </td>
				 <td valign="top">
  			   <h3>Tags</h3>
	 		     {% for tag, following in all_tags %}
			       <a href="/tag/{{ tag }}">{{ tag }}</a>
			       {% if following %}
			         ✓ <a class="light" href="/unfollow?tag={{ tag }}&continue=/">unfollow</a>
			       {% else %}
			         <a class="light" href="/follow?tag={{ tag }}&continue=/">follow</a>
		        {% endif %}
		        <br/>
		      {% endfor %}
		      </td>
		    </tr>
		  </table>


{% endblock %}
