{% extends "base.html" %}

{% block body %}

    <div class="row">
    <div class="col-sm-12">
        <h2><a href="/user/{{ current_user.email }}">{{ current_user.username }}</a></h2>
        <p>
            This page acts as an example of what content would be included in the generated digest e-mail.
        </p>
        <ul>

        {% for snippet in following_snippets %}
            <li>
                {{ snippet.text }} <b>{{ snippet.user.username }}</b> <i>{{ snippet.date|timesince }}</i>
                {% for tag in snippet.tags %}
                    <strong><span class="label label-info">{{ tag }}</span></strong>
                {% else %}
                    <span class="label label-info">{{ snippet.user.username }}</span>

                {% endfor %}
            </li>
        {% else %}
            <li>
            <p>You don't appear to be following anyone.</p>
            <p>Sorry, {{ current_user.username }}!</p>
            </li>
        {% endfor %}
        </ul>
    </div>
    </div>
{% endblock %}
